@import "~bootstrap/scss/bootstrap.scss";

body { margin: 0; }
html, body { height: 100%; }

body {
	display: flex;
}

#root {
	margin: auto;
	padding: 16px;
}

q {
	font-style: italic;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: #00a2e1;
}

h1 {
	font-size: 2em;
	margin-bottom: 0.8em;
}

@media (max-width: 800px) {
	html {
		font-size: 14px;
	}
}

#root {
	max-width: 600px;
}

input + em {
	color: #666;
	margin-left: 10px;
	margin-right: 10px;
}