@import "~bootstrap/scss/bootstrap.scss";

body { margin: 0; }
html, body { height: 100%; }

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

q {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin-bottom: 0.8em;
}

@media (min-width: 801px) {
}

@media (max-width: 800px) {
	html {
		font-size: 14px;
	}
}

#root {
	max-width: 600px;
}

input + em {
	color: #666;
	margin-left: 10px;
	margin-right: 10px;
}